<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Dashboard</h1>
            {{!-- Mensajes para el usuario --}}
        {{> showMessages messages}}
            <div class="card mb-4">
                <div class="card-header" style="display:flex; justify-content: space-between;">
                    <div><i class="fas fa-table mr-1"></i>
                        Productos
                    </div>
                    <div>
                        <a href="/admin/productos/nuevo">Nuevo</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Descripcion</th>
                                    <th>Etiquetas</th>
                                    <th>Estado</th>
                                    <th>Operacion</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Descripcion</th>
                                    <th>Etiquetas</th>
                                    <th>Estado</th>
                                    <th>Operacion</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {{#each productos as |producto|}}
                                <tr>
                                    <td><img width="60px" height="60px" src="../../../uploads/{{producto.imagenes.[1]}}"
                                            alt=""></td>
                                    <td>{{producto.nombre}}</td>
                                    <td>$. {{producto.precio}}</td>
                                    <td>{{producto.descripcion}}</td>
                                    <td>{{producto.etiquetas}}</td>
                                    <td>{{producto.estado}}</td>
                                    <td>
                                        <a href="/admin/productos/editar" class="btn btn-info">Editar</a>
                                        <a href="/admin/productos/eliminar" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            </tbody>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>