<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Now Electronics</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <style>

  </style>
</head>

<body class="homepage-v1 hidden-sn white-skin animated">
  <header>
    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav custom-scrollbar">
      <!-- Logo -->
      <li>
        <div class="logo-wrapper waves-light">
          <a href="/">
            <img src="/img/logoo.jpeg" style="max-width: 200px; max-height: 100px;" class="img-fluid flex-center">
          </a>
        </div>
      </li>
      <!-- Logo -->
      <!-- Social -->
      <li>
        <ul class="social">
          <li>
            <a class="fb-ic" title="Danos like en Facebook" href="https://www.facebook.com/" target="_blank">
              <i class="fab fa-facebook-f"> </i>
            </a>
          </li>
          {{!-- <li>
            <a class="pin-ic">
              <i class="fab fa-pinterest"> </i>
            </a>
          </li> --}}
          <li>
            <a class="gplus-ic" title="nowelectronics001@gmail.com"
              href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
              target="_blank">
              <i class="fab fa-google-plus-g"> </i>
            </a>
          </li>
          <li>
            <a class="tw-ic" title="Síguenos en Twitter" href="https://twitter.com/" target="_blank">
              <i class="fab fa-twitter"> </i>
            </a>
          </li>
        </ul>
      </li>
      <!-- Social -->
      <!-- Search Form -->
      {{!-- <li>
        <form class="search-form" role="search">
          <div class="form-group md-form mt-0 pt-1 waves-light">
            <input type="text" class="form-control" placeholder="Buscar">
          </div>
        </form>
      </li> --}}
      <!-- Search Form -->
      <!-- Side navigation links -->
      <li>
        <ul class="collapsible collapsible-accordion">
          <li>
            <a href="/" class="collapsible-header waves-effect">
              <i class="far fa-bookmark"></i> Inicio
            </a>
          </li>
          {{#if admin}}
          <li>
            <a href="/carrito" class="collapsible-header waves-effect">
              <i class="fas fa-shopping-cart"></i> Carrito
            </a>
          </li>
          {{/if}}
          {{#if usuario}}
          <li>
            <a href="/carrito" class="collapsible-header waves-effect">
              <i class="fas fa-shopping-cart"></i> Carrito
            </a>
          </li>
          {{/if}}
          <li>
            <a href="/categorias" class="collapsible-header waves-effect">
              <i class="far fa-hand-pointer"></i> Categorias
            </a>
          </li>
          <li>
            <a href="/productos" class="collapsible-header waves-effect">
              <i class="fas fa-camera-retro"></i> Productos
            </a>
          </li>
          <li>
            <a href="/mapa" class="collapsible-header waves-effect">
              <i class="fas fa-envelope"></i> Contactar</a>
          </li>
        </ul>
      </li>
      <!-- Side navigation links -->
      <div class="sidenav-bg mask-strong"></div>
    </ul>
    <!-- Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg  navbar-light scrolling-navbar white">
      <div class="container">
        <!-- SideNav slide-out button -->
        <div class="float-left mr-2">
          <a href="#" data-activates="slide-out" class="button-collapse">
            <i class="fas fa-bars blue-text"></i>
          </a>
        </div>
        <a class="navbar-brand font-weight-bold" href="/">
          <strong>NOW ELECTRONICS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto">
            {{#if admin}}
            <li class="dropdown nav-item">
              <a class=" dropdown-toggle nav-link waves-effect waves-light dark-grey-text font-weight-bold"
                data-toggle="dropdown" aria-expanded="false" href="#">
                <i class="fas fa-cog blue-text"></i> Administrar</a>
              <div class="dropdown-menu">
                <a class="  font-weight-bold" href="/crear-producto">Crear producto</a>
                <div class="dropdown-divider"></div>
                <a class=" font-weight-bold" href="/">Ver productos</a>
              </div>
            </li>
            <li class="nav-item ">
              <a href="/carrito" class="nav-link waves-effect waves-light dark-grey-text font-weight-bold">
                <span class="badge danger-color">{{session.carrito.cantidadTotal}}</span>
                <i class="fas fa-shopping-cart blue-text"></i> Carrito
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/sobreNosotros">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-person blue-text"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                  <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  <path d="M8 12c4 0 5 1.755 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12z" />
                </svg></i> Sobre nosotros</a>
            </li>
            {{/if}}
            {{#if usuario}}
            <li class="nav-item ">
              <a href="/carrito" class="nav-link waves-effect waves-light dark-grey-text font-weight-bold">
                <span class="badge danger-color">{{session.carrito.cantidadTotal}}</span>
                <i class="fas fa-shopping-cart blue-text"></i> Carrito
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/sobreNosotros">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-person blue-text"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                  <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  <path d="M8 12c4 0 5 1.755 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12z" />
                </svg></i> Sobre nosotros</a>
            </li>
            {{/if}}
            {{#if miron}}
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light dark-grey-text font-weight-bold" href="/sobreNosotros">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-person blue-text"
                  fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z" />
                  <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z" />
                  <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  <path d="M8 12c4 0 5 1.755 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12z" />
                </svg></i> Sobre nosotros</a>
            </li>
            {{/if}}
            <li class="dropdown nav-item">
              <a class=" dropdown-toggle nav-link waves-effect waves-light dark-grey-text font-weight-bold"
                data-toggle="dropdown" aria-expanded="false" href="#">
                <i class="fas fa-user blue-text"></i> {{nombre}}</a>
              <div class="dropdown-menu">
                {{#if login}}
                <a class="  font-weight-bold" href="/perfil">Tu perfil</a>
                <div class="dropdown-divider"></div>
                <a class=" font-weight-bold" href="/cerrar-sesion">Cerrar sesión</a>
                {{else}}
                <a class=" waves-light dark-grey-text font-weight-bold" href="/crear-cuenta">Regístrarse</a>
                <div class="dropdown-divider"></div>
                <a class="waves-light dark-grey-text font-weight-bold" href="/iniciar-sesion">Iniciar sesión</a>
                {{/if}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
  </header>

  {{!-- Contenido principal --}}
  {{{body}}}

  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">
    <div style="background-color: #1c2db1;">
      <div class="container">
        <!-- Grid row -->
        <div class="row py-4 d-flex align-items-center">
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 white-text">Conéctate con nosotros a través de nuestras redes sociales!</h6>
          </div>
          <!-- Grid column -->
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
            <!-- Facebook -->
            <a class="fb-ic ml-0 px-2" title="Danos like en Facebook" href="https://www.facebook.com/" target="_blank">
              <i class="fab fa-facebook-f white-text"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic px-2" title="Síguenos en Twitter" href="https://twitter.com/" target="_blank">
              <i class="fab fa-twitter white-text"> </i>
            </a>
            <!-- Google + -->
            <a class="gplus-ic px-2" title="nowelectronics001@gmail.com"
              href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
              target="_blank">
              <i class="fab fa-google-plus-g white-text"> </i>
            </a>
            <!-- Linkedin -->
            {{!-- <a class="li-ic px-2">
              <i class="fab fa-linkedin-in white-text"> </i>
            </a> --}}
            <!-- Instagram -->
            <a class="ins-ic px-2" title="Síguenos en Instagram" href="https://www.instagram.com/" target="_blank">
              <i class="fab fa-instagram white-text"> </i>
            </a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </div>
    <!-- Footer Links -->
    <div class="container mt-5 mb-4 text-center text-md-left">
      <div class="row mt-3">
        <!-- First column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>NOW ELECTRONICS</strong>
          </h6>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Somos una empresa dedicada netamente a la comercialización de productos electronicos como de informativa.
          </p>
        </div>
        <!-- First column -->
        <!-- Second column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Productos</strong>
          </h6>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/categorias/electronica">Electrónica</a>
          </p>
          <p>
            <a href="/categorias/informatica">Informática</a>
          </p>
          <p>
            <a href="/categorias/seguridad">Seguridad</a>
          </p>
          <p>
            <a href="/categorias/lamparas">Lámparas</a>
          </p>
        </div>
        <!-- Second column -->
        <!-- Third column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Enlaces</strong>
          </h6>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/perfil">Tú cuenta</a>
          </p>
          <p>
            <a href="/sobreNosotros">Nosotros</a>
          </p>
          <p>
            <a href="/terminos-y-condiciones">Términos y condiciones</a>
          </p>
          <p>
            <a href="/ayuda">Ayuda</a>
          </p>
        </div>
        <!-- Third column -->
        <!-- Fourth column -->
        <div class="col-md-4 col-lg-3 col-xl-3">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Contáctanos</strong>
          </h6>
          <hr class="blue mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>Calle Centenario, Santa Rosa de Copán
          </p>
          <p>
            <i class="fas fa-envelope mr-3"></i>nowelectronics001@gmail.com
          </p>
          <p>
            <i class="fas fa-phone mr-3"></i> +504 9649 5321
          </p>
          <p>
            <i class="fas fa-print mr-3"></i> +01 234 567 89
          </p>
        </div>
        <!-- Fourth column -->
      </div>
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright py-3 text-center">
      <div class="container-fluid">
        ©️ 2020 <a href="/" target="_blank"> NowElectronics.com
        </a>
      </div>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <!-- Cart Modal -->
  <div class="modal fade cart-modal" id="cart-modal-ex" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <!-- Content -->
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <h4 class="modal-title font-weight-bold dark-grey-text" id="myModalLabel">Tú carrito</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Product 1</td>
                <td>100$</td>
                <td>
                  <a>
                    <i class="fas fa-eraser"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-primary btn-rounded btn-sm">Completar</button>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn blue darken-3 btn-rounded btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      <!-- Content -->
    </div>
  </div>
  <!-- Cart Modal -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js">
  </script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <script src="https://maps.google.com/maps/api/js"></script>
  <script type="text/javascript">
    /* WOW.js init */
    new WOW().init();
    // MDB Lightbox Init
    $(function () {
      $("#mdb-lightbox-ui").load("mdb-addons/mdb-lightbox-ui.html");
    });
    // Tooltips Initialization
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    // Material Select Initialization
    $(document).ready(function () {
      $('.mdb-select').material_select();
    });

    // SideNav Initialization
    $(".button-collapse").sideNav();

  </script>
</body>

</html>