<!-- Intro -->
<section>
  <!-- Carousel Wrapper -->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!-- Indicators -->
    <!-- Slides -->
    <div class="carousel-inner" role="listbox">
      <!-- First slide -->
      <div class="carousel-item active">
        <div class="view h-100">
          <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce4.jpg"
            alt="First slide">
          <div class="mask">
            <!-- Caption -->
            <div class="full-bg-img flex-center white-text">
              <ul class="animated fadeIn col-10 list-unstyled">
                <li>
                  <p class="h1 red-text mb-4 mt-5">
                    <strong>CYBERWEEK!</strong>
                  </p>
                </li>
                <li>
                  <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5">Aprovecha los mejores descuentos del
                    a침o.</h5>
                </li>
                <li>
                  <a href="/cyber-week" class="btn btn-danger btn-rounded" rel="nofollow">Ver m치s!</a>
                </li>
              </ul>
            </div>
            <!-- Caption -->
          </div>
        </div>
      </div>
      <!-- First slide -->
      <!-- Second slide -->
      <div class="carousel-item h-100">
        <div class="view h-100">
          <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce2.jpg"
            alt="Second slide">
          <div class="mask">
            <!-- Caption -->
            <div class="full-bg-img flex-center white-text">
              <ul class="animated fadeIn col-10 list-unstyled">
                <li>
                  <p class="h1 dark-grey-text mb-4">
                    <strong>Nemo enim ipsam voluptatem quia voluptas</strong>
                  </p>
                </li>
                <li>
                  <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5">Tempora incidunt ut labore et dolore
                    veritatis et quasi architecto beatae</h5>
                </li>
              </ul>
            </div>
            <!-- Caption -->
          </div>
        </div>
      </div>
      <!-- Second slide -->
      <!-- Third slide -->
      <div class="carousel-item">
        <div class="view h-100">
          <img class="d-block h-100 w-lg-100" src="https://mdbootstrap.com/img/Photos/Others/ecommerce3.jpg"
            alt="Third slide">
          <div class="mask">
            <!-- Caption -->
            <div class="full-bg-img flex-center white-text">
              <ul class="animated fadeIn col-md-10 text-center text-md-right list-unstyled">
                <li>
                  <p class="h1 blue-text mb-4 mt-5 pr-lg-5">
                    <strong>Sale off 20% on every headphones!</strong>
                  </p>
                </li>
                <li>
                  <h5 class="h5-responsive dark-grey-text font-weight-bold mb-5 pr-lg-5">Tempora incidunt ut labore et
                    dolore veritatis et quasi</h5>
                </li>
              </ul>
            </div>
            <!-- Caption -->
          </div>
        </div>
      </div>
      <!-- Third slide -->
    </div>
    <!-- Slides -->
    <!-- Controls -->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
    <!-- Controls -->
  </div>
  <!-- Carousel Wrapper -->
  <div class="container-fluid mx-0 px-0">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color mb-5">
      <div class="container">
        <!-- Navbar brand -->
        <a class="font-weight-bold white-text mr-4" href="#">Categorias</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
          aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown mega-dropdown">
              <a href="/categorias/electronica" class="nav-link no-caret">Electr칩nica</a>
            </li>
            <li class="nav-item dropdown mega-dropdown">
              <a href="/categorias/informatica" class="nav-link no-caret">Inform치tica</a>
            </li>
            <li class="nav-item dropdown mega-dropdown">
              <a href="/categorias/seguridad" class="nav-link no-caret">Seguridad</a>
            </li>
            <li class="nav-item dropdown mega-dropdown">
              <a href="/categorias/lamparas" class="nav-link no-caret">Alumbrado</a>
            </li>
          </ul>

          <!-- Links -->
          <form class="search-form" role="search" action="/productos/busqueda/">
            <div class="form-group md-form my-0 waves-light">
              <input type="text" name="nombre" class="form-control" placeholder="Buscar">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->
      </div>
    </nav>
    <!-- Navbar -->
  </div>
</section>

<div class="container">
  {{!-- Mensajes para el usuario --}}
  {{> showMessages messages}}
  <div class="row">
    {{#each productos as |producto|}}
    <!-- Grid column -->
    <div class="col-lg-3 col-md-4 mb-4">
      <!-- Card -->
      <div class="card card-ecommerce">
        <!-- Card image -->
        <div class="view overlay center">
          <img src="../../uploads/{{producto.imagenes.[1]}}" class="img-fluid" alt="sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card image -->
        <!-- Card content -->
        <div class="card-body">
          <!-- Category & Title -->
          <h5 class="card-title mb-1">
            <strong>
              <a href="/producto/{{producto.url}}" class="dark-grey-text">{{producto.nombre}}</a>
            </strong>
          </h5>
          {{#if estado}}
          <span class="badge badge-danger mb-2">{{producto.estado}}</span>
          {{else}}
          <span class="badge badge-info mb-2 ml-2">{{producto.estado}}</span>
          {{/if}}
          <!-- Rating -->
          <ul class="rating">
            <li>
              <i class="fas fa-star gray-text"></i>
            </li>
            <li>
              <i class="fas fa-star gray-text"></i>
            </li>
            <li>
              <i class="fas fa-star gray-text"></i>
            </li>
            <li>
              <i class="fas fa-star gray-text"></i>
            </li>
            <li>
              <i class="fas fa-star blue-text"></i>
            </li>
          </ul>
          <!-- Card footer -->
          <div class="card-footer pb-0">
            <div class="row mb-0">
              <span class="float-left">
                <strong>$. {{producto.precio}}</strong>
              </span>
              <span class="float-right">
                <a href="/carrito/{{producto._id}}" class="" data-toggle="tooltip" data-placement="top"
                  title="Agregar al carrito">
                  <i class="fas fa-shopping-cart ml-3 red-text"></i>
                </a>
              </span>
            </div>
          </div>
        </div>
        <!-- Card content -->
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->
    {{/each}}
  </div>
</div>