<br>
<br>
<br>
<div class="wrapper">
  <div class="main">
    <div class="section section-white section-search">
      <div class="container">
        {{!-- Mensajes para el usuario --}}
        {{> showMessages messages}}
        <div class="row">
          <div class="col-md-8 col-12 ml-auto mr-auto text-center">
            <form role="search" class="form-inline search-form">
              <div class="input-group no-border">
                <span class="input-group-addon addon-xtreme no-border" id="basic-addon1"></span>
               
              </div>
            </form>
            <div class="row add-row">
              {{#each productos as |producto|}}
              <div class="col-md-4 col-sm-4">
                <h5>{{producto.nombre}}</h5>
                <p class="price"><strong>L {{producto.precio}}</strong></p>
                <p>{{producto.descripcion}}</p>
                {{!-- <div class="col-md-3 ml-auto col-sm-4"> --}}
                <img src="uploads/{{imagen}}" width="120" height="120" class="img-responsive" />
                {{!-- </div> --}}
                <a href="/producto/{{producto.url}}" class="btn btn-secondary btn-round">Ver más</a>
              </div>
              {{/each}}
            </div>
            <div class="text-missing">
              <h5 class="text-muted"></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>