<!-- Main Layout -->
{{#if producto}}
{{#if login}}
<main>
    <!-- Main Container -->
    <div class="container">
        <section class="section my-5 pb-5">
            <!-- Shopping Cart table -->
            <div class="table-responsive">
                <table class="table product-table table-cart-v-1">
                    <!-- Table head -->
                    <thead>
                        <tr>
                            <th></th>
                            <th class="font-weight-bold">
                                <strong>Producto</strong>
                            </th>
                            {{!-- <th class="font-weight-bold">
                                <strong>Color</strong>
                            </th> --}}
                            <th></th>
                            <th class="font-weight-bold">
                                <strong>Precio</strong>
                            </th>
                            <th class="font-weight-bold">
                                <strong>Cantidad</strong>
                            </th>
                            <th class="font-weight-bold">
                                <strong>Monto</strong>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- Table head -->
                    <!-- Table body -->
                    {{#each producto}}
                    <tbody>
                        <!-- First row -->
                        <tr>
                            <th scope="row">
                                <img src="../uploads/{{item.imagenes.[0]}}" alt="" class="img-fluid z-depth-0">
                            </th>
                            <td>
                                <h5 class="mt-3">
                                    <strong>{{item.nombre}}</strong>
                                </h5>
                                {{!-- <p class="text-muted">Apple</p> --}}
                            </td>
                            {{!-- <td>White</td> --}}
                            <td></td>
                            <td>$. {{item.precio}}</td>
                            <td class="text-center text-md-left">
                                <span class="qty">{{qty}}</span>
                                {{!-- <div class="btn-group radio-group ml-2" data-toggle="buttons">
                                    <label class="btn btn-sm btn-primary btn-rounded">
                                        <input type="radio" name="options" id="option1">&mdash;
                                    </label>
                                    <label class="btn btn-sm btn-primary btn-rounded">
                                        <input type="radio" name="options" id="option2">+
                                    </label>
                                </div> --}}
                            </td>
                            <td class="font-weight-bold">
                                <strong>$. {{precio}}</strong>
                            </td>
                            <td>
                                <li><a href="/reducir/{{this.item._id}}" type="button" class="btn btn-sm btn-primary"
                                        data-toggle="tooltip" data-placement="top" title="Quitar producto">Quitar
                                        producto</a>
                                </li><br>
                                <li><a href="/eliminar/{{this.item._id}}" type="button" class="btn btn-sm btn-primary"
                                        data-toggle="tooltip" data-placement="top" title="Quitar todos">Quitar todos</a>
                                </li>
                            </td>
                        </tr>
                        {{/each}}
                        <!-- First row -->
                        <!-- Purchase row -->
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                <h4 class="mt-2">
                                    <strong>Total:</strong>
                                </h4>
                            </td>
                            <td class="text-right">
                                <h4 class="mt-2">
                                    <strong>$. {{this.precioTotal}}</strong>
                                </h4>
                            </td>
                            <td colspan="3" class="text-right">
                                <div id="paypal-button"></div>
                                <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                                <script>
                                    paypal.Button.render({
                                        // Configure environment
                                        env: 'sandbox',
                                        client: {
                                            sandbox: 'AWLV4DZl7w7faE3xn785xS9dRoX-zCFzpEO44Fvo6prI-hIqzP1lw_h7Pdxicr469C-DeglxkpR35ZFr',
                                            production: 'demo_production_client_id'
                                        },
                                        // Customize button (optional)
                                        locale: 'en_US',
                                        style: {
                                            size: 'small',
                                            color: 'gold',
                                            shape: 'pill',
                                        },

                                        // Enable Pay Now checkout flow (optional)
                                        commit: true,

                                        // Set up a payment
                                        payment: function (data, actions) {
                                            return actions.payment.create({
                                                transactions: [{
                                                    amount: {
                                                        total: {{ precioTotal }},
                                                currency: 'USD'
            }
                                    }],
                                        redirect_urls: {
                                        return_url: '/pago',
                                        cancel_url: 'https://example.com'
                                    }
        });
        },
                                    // Execute the payment
                                    onAuthorize: function(data, actions) {
                                        return actions.payment.execute().then(function () {
                                            // Show a confirmation message to the buyer
                                            window.alert('Gracias!');
                                            actions.redirect();
                                        });
                                    }
  }, '#paypal-button');

                                </script>

                            </td>
                        </tr>
                        <!-- Purchase row -->
                    </tbody>
                    <!-- Table body -->
                </table>
            </div>
            <!-- Shopping Cart table -->
        </section>
    </div>
    <!-- Main Container -->
</main>
{{/if}}
{{else}}
{{#if login}}
<style>
    html,


    .jarallax {
        height: 700px;
    }

    @media (max-width: 740px) {

        html,
        body,
        header,
        .jarallax {
            height: 100vh;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .jarallax {
            height: 100vh;
        }
    }

    @media (min-width: 560px) and (max-width: 650px) {
        header .jarallax h1 {
            margin-bottom: 1.5rem !important;
        }

        header .jarallax h5 {
            margin-bottom: 1.5rem !important;
        }
    }

    .top-nav-collapse {
        background-color: #3246e4 !important;
    }

    .navbar:not(.top-nav-collapse) {
        background: transparent !important;
    }

    @media (max-width: 768px) {
        .navbar:not(.top-nav-collapse) {
            background: #3246e4 !important;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #3246e4 !important;
        }
    }

    h5 {
        letter-spacing: 3px;
    }
</style>
<!-- Intro Section -->
<div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
    style="background-image: url(https://image.freepik.com/foto-gratis/compras-linea-concepto-carrito-compras-vacio-teclado-ordenador-portatil_9635-876.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-stylish-light">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row pt-5 mt-3">
                <div class="col-md-12">
                    <div class="intro-info-content text-center">
                        <h1 class="display-3 white-text wow fadeInDown" data-wow-delay="0.3s"> <a
                                class="white-text font-weight-bold">El carrito está vacío</a></h1>
                        <h3><a class="fas fa-arrow-left mr-1" href="/">
                            <strong>Regresar al Inicio</strong></a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}
{{/if}}
<!-- Main Layout -->