<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class=" card wow fadeIn" data-wow-delay="0.3s">
        <div class="card-body">
            <!--Header-->
            <div class="form-header purple-gradient">
                <h3><i class="fas fa-user mt-2 mb-2"></i> Perfil de usuario</h3>
            </div>
            <!--Body-->
            {{#each Usuarios as |usuario|}}
            <div class="md-form">
                <i class="fas fa-user prefix blue-text"></i>
                <input type="text" name="nombre" class="nombre" value={{nombre}}>
            </div>
            <div class="md-form">
                <i class="fas fa-envelope prefix blue-text"></i>
                <input type="email" name="email" class="correo" value={{email}}>
            </div>
            <div class="md-form">
                <i class="fas fa-lock prefix blue-text"></i>
                <input type="password" name="password" class="pass" value={{password}} disabled="true">
            </div>
            <div class="md-form">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-person-check-fill blue-text" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm9.854-2.854a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                </svg>
                <input type="text" name="rol" class="correo" value={{rol}} disabled="true">
            </div>
            <div class="md-form">
                <i class="fas fa-envelope prefix blue-text"></i>
                <input type="text" name="ciudad" class="correo" value={{ciudad}}>
            </div>
            <div class="md-form">
                <i class="fas fa-envelope prefix blue-text"></i>
                <input type="text" name="pais" class="correo" value={{pais}}>
            </div>
            <div class="md-form">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-calendar-date-fill blue-text" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm.066-2.544c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2zm-2.957-2.89v5.332H5.77v-4.61h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z" />
                </svg>
                <input style="color: black;" type="text" name="fechaRegistro" class="correo" value="{{fechaRegistro}}"
                    disabled="true">
            </div>
            {{/each}}
            <div class="text-center">
                <button type="submit" class="btn purple-gradient btn-lg">Guardar</button>
                <hr>
            </div>
        </div>
    </div>
</div>
<br>
<br>