<h1 style="text-align: center; font-family:Arial, Helvetica, sans-serif">Enviado desde el formulario Contactar</h1>

<p style="font-family: Arial, Helvetica, sans-serif;">
    Nombre: {{nombre}}
</p>
<p style="font-family: Arial, Helvetica, sans-serif;">
    Correo: {{email}}
</p>
<p style="font-family: Arial, Helvetica, sans-serif;">
    Telefono: {{telefono}}
</p>
<p style="font-family: Arial, Helvetica, sans-serif;">
    Empresa: {{empresa}}
</p>


<p style="font-family: Arial, Helvetica, sans-serif;">
    Mensaje: {{mensaje}}
</p>